@import url("./master.css");
/* Geral */
body{
    margin-top: var(--tamanho-header);
    background-color: var(--background);
}
.me-avatar{
	border: double 4px transparent;
	border-radius: 80px;
	background-image: linear-gradient(white, white), var(--degrade-horizontal);
	background-origin: border-box;
	background-clip: content-box, border-box;
}
/* Header */
header {
	display: flex;
	position: fixed;
    top: 0;
    align-items: center;
	background-color: var(--background);
	width: 100%;
	height: var(--tamanho-header);	
}
header #home-link{
    float: left;
    color: var(--texto-padrao);
    text-decoration: none;
    vertical-align: middle;
    height: 100%;
}
header #menu{
    float: right;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
}
header #menu li{
    list-style: none;
    display: inline-flex;
}
header #menu li *{
    color: var(--texto-padrao);
}

/* HERO */

#home-hero .container {
	display: grid;
	grid-template-columns: 1fr 1.1fr;
}
#home-hero #text{
    margin-top: 35%;
    color: var(--texto-padrao);
}
#home-hero #text h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--branco);
}
#home-hero #text h1{
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .05rem;
    background-image: var(--degrade-horizontal);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#home-hero #text p{
    margin-top: 5px;
    font-size: 1rem;
    font-weight: lighter;
}

#home-hero #img img{
    text-align: right;
}
#home-hero #img .me-avatar {
    display: none;
}
#home-hero button#contato{
    margin-top: 20px;
    font-size: 1.05rem;
    color: var(--texto-variante);
}
.light-mode:root #home-hero #text h2{
    color: var(--texto-padrao);
}
@media (max-width: 780px) {
    #home-hero .container{
        grid-template-columns: 1fr;
    }
    #home-hero #text{
        margin-top: 4%;
    }
    #home-hero #text h1, #home-hero #text h2, #home-hero #text p{
        text-align: center;
    }
    #home-hero button#contato{
        margin: 24px auto;
        display: block;
    }
    #home-hero #img{
        grid-row: -1;
    }
    #home-hero #img .ilustra{
        display: none;
    }
    #home-hero #img .me-avatar {
        width: 181px;
        height: 181px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        margin-top: 50px;
    }
}
/* SOBRE */
#sobre{
    margin-top: 150px;
    margin-bottom: 100px;
    --margem: 15px;
}
#sobre h2{
    margin-bottom: var(--margem);
}
#sobre p {
	padding: 6px 0 6px var(--margem);
	margin-top: 0;
	color: var(--texto-padrao);
	border-width: 4px;
	border-style: solid;
	border-image: var(--degrade-vertical);
	border-image-slice: 0 0 0 10;
	border-top: 0px;
	border-bottom: none;
    text-indent: 10px;
    text-align: justify;
}
@media (max-width: 780px){
    #sobre{
        margin-top: 22px;
    }
    #sobre p{
        line-height: 120%;
    }
}
/* PROJETOS */
#projetos{
    margin: 110px 0;
}
#projetos #project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    padding: 30px 0;
}
#projetos #project-list li{
    list-style: none;
    background-color: var(--cinza);
    color: var(--texto-padrao);
}
#projetos #project-list li .conteiner-desc{
    margin: 12px;
}
#projetos #project-list li img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}
#projetos #project-list li h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2px 0;
    font-weight: 600;
    color:var(--branco);
}
#projetos #project-list li .project-tags{
    display: inline-flex;
    gap: 10px;
    margin: 10px 0 15px 0;
}
#projetos #project-list li .project-tags span{
    background: var(--degrade-horizontal);
    color: var(--texto-variante);
    border-radius: 5px;
    padding: 5px 10px;
}
#projetos #project-list li .project-tags span:hover{
    cursor: default;
}
#projetos #project-list li p{
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: var(--texto-padrao);
}
#projetos button {
	font-size: 1.2rem;
	text-align: center;
	margin: 30px 0;
	font-weight: normal;
	padding: 1% 2%;
	display: block;
	margin: 0 auto;
} 
#projetos button a{
    color: var(--texto-variante);
}

.light-mode:root #projetos #project-list li{
    box-shadow: 0px 0px 8px -3px var(--texto-padrao);
	background-color: var(--background);
	color: var(--texto-padrao);
}
.light-mode:root #projetos #project-list li h3{
    color: var(--texto-padrao);
}
@media (max-width: 780px){
    #projetos #project-list{
        grid-template-columns: 1fr;
        grid-row-gap: 35px;
    }
}




/* STACK */
#stack{
	margin: 10% 0;
}
#stack h2{
    margin: 20px 0;
}
#stack #stack-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 5vw;
	row-gap: 55px;
}
#stack #stack-list li{
    list-style: none;
}
#stack #stack-list li img{
    width: 100%;
    height: 100%;
}
#stack #stack-list li h4{
    color: var(--texto-padrao);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
}
@media (max-width: 780px){
    #stack #stack-list{
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-row-align: center;
    }
    #stack #stack-list li:last-of-type{
        display: none;
    }
}
/* FOOTER */
/* footer ul{
    display: inline;
} */
footer {
	padding: 150px 0 2% 0;
	position: relative;
	height: max-content;
	margin-top: 50px;
}
footer .me-avatar{
	display: block; 
	margin: 40px auto;
	width: 120px;
    height: 120px;
	margin-top: 0;
}
footer ul li {
	width: fit-content;
	text-align: center;
	color: var(--texto-padrao);
}
footer ul li a{
    color: unset;
}
footer span {
	color: var(--texto-padrao);
	margin: 0 auto;
	width: max-content;
	display: block;
	padding-top: 40px;
    font-size: .9rem;
}
footer ul#contact-footer{
	width: max-content;
	margin: 0 auto;
}
footer ul#contact-footer li{
    display: inline-table;
    margin: 0 16px;
}
footer ul#contact-footer li .img-logo{
    height: 2.5rem;
    margin-bottom: 5px;
    text-align: center;
    margin: 0 auto;
}
footer ul#contact-footer li h2{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 780px){
    footer .me-avatar{
        display: none;
    }
    footer {
        padding: 92px 0 2% 0;
        margin-top: 0px; 
    }
}