*{
    /* ZERANDO O CSS */
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;

    /* Medidas */
    --tamanho-header: 50px;
    --branco: #fff;
    --preto: #000;
    --cinza: #222525;
    
}
.light-mode:root{
    --background: #FAFAFA;
    --degrade-horizontal: linear-gradient(to right,#5222D0, #5b2cd3);
    --degrade-vertical: linear-gradient(to bottom,#5222D0, #5b2cd3);
    --texto-padrao: #252728;
    --texto-variante: #BDEBEA;
}
.dark-mode:root{
    /* CORES TEMA ESCURO*/
    --background: #041F31;
    --degrade-horizontal: linear-gradient(to right,#00F5A0, #00D9F5);
    --degrade-vertical: linear-gradient(to bottom,#00F5A0, #00D9F5);
    --texto-padrao: #BDEBEA;
    --texto-variante: #252728;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 100%;
}
h2{
    font-size: 1.8rem;
    color: var(--texto-padrao);
}
template{
    display: none;
}
.container{
    --largura: 83vw;
    max-width: var(--largura);
    width: var(--largura);
    margin: 0 auto;
}
@media (max-width: 780px){
    .container{
        --largura: 92vw;
    }
}
.buttom-primary {
	padding: 2% 5%;
	background: var(--degrade-horizontal);
	border-radius: 6px;
}
.buttom-primary:hover{
    cursor: pointer;
}

/* LOADER */
.lds-grid {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 75px auto;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--texto-padrao);
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
}
/* Theme switcher */
#toggle_checkbox {
    display: none;
}
  
label {
	position: relative;
	display: block;
	margin: 0;
	cursor: pointer;
	transform: scale(0.3);
	float: left;
	height: 100%;
}
  
label:before{
    top: 8px;
    left: 8px;
    width: 54px;
    height: 54px;
    border: 3px solid red;
}
  
label:after{
    top: 0;
    right: 0;
    width: 140px;
    height: 70px;
    border: 3px solid #00d5e4;
}
  
label:before,
label:after{
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
    left: 0;
}

#toggle_checkbox:checked + label:before {
    top: 0;
    left: 0;
    width: 140px;
    height: 70px;
    border-color: purple;
}
  
#toggle_checkbox:checked + label:after {
    top: 8px;
    right: 8px;
    width: 54px;
    height: 54px;
    border-color: red;
}